/* General styling */
body {
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

p {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

mark {
    font-size: 0.9em;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
input[type="tel"],
select,
button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="button"] {
    width: auto;
    padding: 8px 12px;
    cursor: pointer;
}

/* Error text styling */
.error {
    color: red;
    font-size: 0.9em;
}

/* JSON output styling */
#jsonOutput {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
}

.show {
    display: block !important;
}

.hide {
    display: none;
}

#mapBox {
    display: none;
    width: 500px;
    height: 200px;
}


#map {
    display: block;
    width: 500px;
    height: 200px;

}

#addressDiv {
    font-size: 1em;
    margin-top: 1em;
}

/* Volunteer fields styling */
#volunteerFields {
    display: none;
}